* {

    box-sizing: border-box;
}

body {

    background-color: #f2f7fc;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: none;

}


input,
label,
select {
    display: block;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111e2d;
    color: white;
    gap:900px;
    padding: 15px;
    padding-left: 150px;
    padding-right: 150px;
    grid-area:header;
   
}
.logo-item{
width: 40px;
height: 40px;
background-color: #007bff;
border-radius:50%;
border-color: white;
border-style:solid;
display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff; 
     font-size: 14px;
    font-weight: bold;
     line-height: 1;





}
.logo-title-item{

    display:flex;
    align-items:center;
    gap:8px;

}
.login-container{

display: flex;
color: #a3b2c0;
align-items: center;
justify-self: start;
font-weight: 700;
padding-right: 200px;
}

.aside-container{

    grid-area:aside;
     display: flex;
  gap: 12px;
  padding:15px;
  height: 100%;
  background: white;
  border-bottom: 1px solid #e5eaf0;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.main-container{

    grid-area:main;
    margin-bottom: 10px;

}
.category-container{

    display:flex;
     padding: 15px;
 padding-left: 150px;
padding-right: 150px;


}
.modal-add{

    display:none;
}
.cards-container{

display:flex;
flex-direction: flex-wrap;
 padding: 15px;
 padding-left: 150px;
padding-right: 150px;
gap:50px;

}
.card{

 flex: 0 0 calc((100% / 3) - 20px); 
 display:flex;
 flex-direction: column;
border-radius: 5px;
background-color: #ffffff;

}

.footer-container{

    grid-area:footer;



}

.grid-article{
width: 70%;
margin-top: 10px;
display:grid;
grid-gap:20px;
grid-template-areas: 

    "header"
    "aside"
    "main"
    "footer"
;

}